mixin cal(results)
  if results.length < 1
    h2(style="text-align: center") Add some new things to your list!
  div(class="list-group")
    each result in results
      a(class="list-group-item list-group-item-action")
        form(method="post" style="padding-top:2px;")
          span(style="color:#0080ff")=result.listing
          span &nbsp;due on the&nbsp;
          span(style="color:#0080ff")=result.date
          input(name= "contentID" type="hidden" value=result.contentID)
          input(type="image" src="images/remove.png" alt="Submit Form" style="display: inline-block; float: right; width:15px; height:15px;")
            


html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Dashboard
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src="/js/bootstrap.bundle.js")
    
  header(style="padding-bottom:2%;")
    include html/navbar.html
  
  body(style="background-color: #f5f5f5;")
    div(class="container")
      +cal(array)
      
    div(class="container" style="padding-top:2%;")
      include html/newcontentform.html
  
